<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Under Maintainance</h1>
    <p>Some help!</p>

    {{> footer}}

  </body>
</html>
